* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0;
}

.title {
  display: flex;
  width: 30vw;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center; 
}

.inputDividir {  
  margin-block: 10px;
}

