html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.title {
  display: flex;
  width: 30vw;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
}

.inputDividir {
  margin-block: 10px;
}

.digito {
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
}

.calculator_html {
  font-size: 175%;
  font-weight: 300;
  line-height: 1.3;
}

.calculator_html embed,
.calculator_html iframe,
.calculator_html img,
.calculator_html object,
.calculator_html video {
  max-width: 100%;
}

.calculator_html h1,
.calculator_html h2,
.calculator_html h3,
.calculator_html h4,
.calculator_html h5,
.calculator_html h6,
.calculator_html ul,
.calculator_html ol,
.calculator_html li,
.calculator_html p,
.calculator_html pre,
.calculator_html blockquote,
.calculator_html figure,
.calculator_html hr {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

.calculator_html a {
  text-decoration: none;
}

.calculator_html a:focus {
  outline: none;
}

.calculator_html h1,
.calculator_html h2,
.calculator_html h3,
.calculator_html h4,
.calculator_html h5,
.calculator_html h6 {
  display: block;
}

.calculator_html ol,
.calculator_html ul {
  list-style: none;
}

.calculator_html input,
.calculator_html textarea,
.calculator_html button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

.calculator_html input:hover,
.calculator_html input:active,
.calculator_html input:focus,
.calculator_html textarea:hover,
.calculator_html textarea:active,
.calculator_html textarea:focus,
.calculator_html button:hover,
.calculator_html button:active,
.calculator_html button:focus {
  outline: none;
}

.calculator_body {
  align-items: center;
  background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.calculator_container {
  max-width: 20em;
}

.calculator_container > p {
  text-align: center;
}

.calculator {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
  overflow: hidden;
}

.calculator__display {
  background-color: #222222;
  color: #fff;
  font-size: 1.714285714em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.calculator__keys {
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__keys button {
  cursor: pointer;
  background-color: #cccccc;
}

.calculator__keys button:hover {
  background-color: #999;
}

.calculator__keys > * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
  background-color: #eee;
}

.key--equal {
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  grid-column: -2;
  grid-row: 2 / span 4;
}

.key--equal:hover {
  background-image: linear-gradient(to bottom, #7c7b7b, #1a1412);
}
